@import url('./base.css');
.bg-white{background-color:white;}
.bg-red{background-color:red;}
.bg-red1{background-color: var(--red1);}
.bg-red2{background-color: var(--red2);}
.bg-red3{background-color: var(--red3);}
.bg-orange{background-color:orange;}
.bg-orange1{background-color: var(--orange1);}
.bg-orange2{background-color: var(--orange2);}
.bg-orange3{background-color: var(--orange3);}
.bg-yellow{background-color:yellow;}
.bg-yellow1{background-color: var(--yellow1);}
.bg-yellow2{background-color: var(--yellow2);}
.bg-yellow3{background-color: var(--yellow3);}
.bg-green{background-color:green;}
.bg-green1{background-color: var(--green1);}
.bg-green2{background-color: var(--green2);}
.bg-green3{background-color: var(--green3);}
.bg-lightblue{background-color:lightblue;}
.bg-lightblue1{background-color: var(--lightblue1);}
.bg-lightblue2{background-color: var(--lightblue2);}
.bg-lightblue3{background-color: var(--lightblue3);}
.bg-blue{background-color:blue;}
.bg-blue1{background-color: var(--blue1);}
.bg-blue2{background-color: var(--blue2);}
.bg-blue3{background-color: var(--blue3);}
.bg-purple{background-color:purple;}
.bg-purple1{background-color: var(--purple1);}
.bg-purple2{background-color: var(--purple2);}
.bg-purple3{background-color: var(--purple3);}
.bg-pink{background-color:pink;}
.bg-pink1{background-color: var(--pink1);}
.bg-pink2{background-color: var(--pink2);}
.bg-pink3{background-color: var(--pink3);}
.bg-gray{background-color:gray;}
.bg-gray1{background-color: var(--gray1);}
.bg-gray2{background-color: var(--gray2);}
.bg-gray3{background-color: var(--gray3);}
.bg-black{background-color:black;}
.bg-black1{background-color: var(--black1);}
.bg-black2{background-color: var(--black2);}
.bg-black3{background-color: var(--black3);}
.bg-brown{background-color:brown;}
.bg-brown1{background-color: var(--brown1);}
.bg-brown2{background-color: var(--brown2);}
.bg-brown3{background-color: var(--brown3);}