@import url('./base.css');
.bg-white{background-color:white;}
.glow-red{text-shadow: 0 0 .5chred;}
.glow-red1{text-shadow: 0 0 .5chred;}
.glow-red2{text-shadow: 0 0 .5chred;}
.glow-red3{text-shadow: 0 0 .5chred;}
.glow-orange{text-shadow: 0 0 .5chorange;}
.glow-orange1{text-shadow: 0 0 .5chorange;}
.glow-orange2{text-shadow: 0 0 .5chorange;}
.glow-orange3{text-shadow: 0 0 .5chorange;}
.glow-yellow{text-shadow: 0 0 .5chyellow;}
.glow-yellow1{text-shadow: 0 0 .5chyellow;}
.glow-yellow2{text-shadow: 0 0 .5chyellow;}
.glow-yellow3{text-shadow: 0 0 .5chyellow;}
.glow-green{text-shadow: 0 0 .5chgreen;}
.glow-green1{text-shadow: 0 0 .5chgreen;}
.glow-green2{text-shadow: 0 0 .5chgreen;}
.glow-green3{text-shadow: 0 0 .5chgreen;}
.glow-lightblue{text-shadow: 0 0 .5chlightblue;}
.glow-lightblue1{text-shadow: 0 0 .5chlightblue;}
.glow-lightblue2{text-shadow: 0 0 .5chlightblue;}
.glow-lightblue3{text-shadow: 0 0 .5chlightblue;}
.glow-blue{text-shadow: 0 0 .5chblue;}
.glow-blue1{text-shadow: 0 0 .5chblue;}
.glow-blue2{text-shadow: 0 0 .5chblue;}
.glow-blue3{text-shadow: 0 0 .5chblue;}
.glow-purple{text-shadow: 0 0 .5chpurple;}
.glow-purple1{text-shadow: 0 0 .5chpurple;}
.glow-purple2{text-shadow: 0 0 .5chpurple;}
.glow-purple3{text-shadow: 0 0 .5chpurple;}
.glow-pink{text-shadow: 0 0 .5chpink;}
.glow-pink1{text-shadow: 0 0 .5chpink;}
.glow-pink2{text-shadow: 0 0 .5chpink;}
.glow-pink3{text-shadow: 0 0 .5chpink;}
.glow-gray{text-shadow: 0 0 .5chgray;}
.glow-gray1{text-shadow: 0 0 .5chgray;}
.glow-gray2{text-shadow: 0 0 .5chgray;}
.glow-gray3{text-shadow: 0 0 .5chgray;}
.glow-black{text-shadow: 0 0 .5chblack;}
.glow-black1{text-shadow: 0 0 .5chblack;}
.glow-black2{text-shadow: 0 0 .5chblack;}
.glow-black3{text-shadow: 0 0 .5chblack;}
.glow-brown{text-shadow: 0 0 .5chbrown;}
.glow-brown1{text-shadow: 0 0 .5chbrown;}
.glow-brown2{text-shadow: 0 0 .5chbrown;}
.glow-brown3{text-shadow: 0 0 .5chbrown;}