/* Transformations */
.hover-bob:hover {
  animation: bob-vertical 2s infinite ease-in-out;
}

@keyframes bob-vertical {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(0);
  }
}

.hover-float {
  transition: transform 150ms ease-in;
}

.hover-float:hover {
    transform: translateY(-1vh);
}
