
.p-tenth{padding: 0.1vh;}
.p-fifth{padding: 0.2vh;}
.p-half{padding: 0.5vh;}
.m-tenth{margin: 0.1vh;}
.m-fifth{margin: 0.2vh;}
.m-half{margin: 0.5vh;}
.p-0{padding: 0vh;}
.m-0{margin: 0vh;}
.p-1{padding: 1vh;}
.m-1{margin: 1vh;}
.p-2{padding: 2vh;}
.m-2{margin: 2vh;}
.p-3{padding: 3vh;}
.m-3{margin: 3vh;}
.p-4{padding: 4vh;}
.m-4{margin: 4vh;}
.p-5{padding: 5vh;}
.m-5{margin: 5vh;}
.p-6{padding: 6vh;}
.m-6{margin: 6vh;}
.p-8{padding: 8vh;}
.m-8{margin: 8vh;}
.p-10{padding: 10vh;}
.m-10{margin: 10vh;}
.p-12{padding: 12vh;}
.m-12{margin: 12vh;}
.p-14{padding: 14vh;}
.m-14{margin: 14vh;}
.p-16{padding: 16vh;}
.m-16{margin: 16vh;}
.p-18{padding: 18vh;}
.m-18{margin: 18vh;}