* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.center-text {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav-link * {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
}
.nav-title {
  order: -1;
}
.nav-title,
nav-title * {
  font-family: "Century Gothic";
  font-weight: bold;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}