@import url('./base.css');

/* Positional */
.relative { position: relative; }
.fixed { position: fixed; }
.sticky { position: sticky; position: -webkit-sticky; top: 0; }
.absolute { position: absolute; }

.rounded { border-radius: 3vh; }

/* Overflows */
.over-xhide { overflow-x: hidden; }
.over-xshow { overflow-x: auto; }

/* Flexbox */
.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }

.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }
.space-evenly { justify-content: space-evenly; }

.items-left { align-items: left; }
.items-right { align-items: right; }
.items-center { align-items: center; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text Utils */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.text-left * { text-align: left; }
.text-right * { text-align: right; }
.text-center * { text-align: center; }

.bold { font-weight: bold; }
.light { font-weight: lighter; }

.tiny { font-size: xx-small; }
.small { font-size: small; }
.mid { font-size: medium; }
.big { font-size: large; }
.x-big { font-size: x-large; }

/* Height and Width */
.full-height { height: 100vh; }
.full-width { width: 100vw; }

.half-height { height: 50%; }
.half-width { width: 50%; }

.left {left: 0;}
.right {right: 0;}
.top {top: 0;}
.bottom {bottom: 0;}

.center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* General Helpers */
.container {
    display: flex;
    justify-content: center;
}
